<nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <%= link_to 'FinanceTracker', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to 'My Portfolio', my_portfolio_path, class: 'nav-link' %>
            </li>
            <% if current_user && current_user.friends.any? %>
              <li class="nav-item <%= 'active' if request.path == friends_path %>">
                          <%= link_to 'My Friends', friends_path, class: 'nav-link' %>
              </li>
            <% end %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
                   <%= fa_icon 'edit' %> Edit profile
                  <% end %>
                </li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            
          </ul>
          <ul class='navbar-nav ml-auto m-2'>
            <li class="nav-item name">
              <% if current_user && current_user.first_name? %>
              <%= fa_icon 'user-circle-o' %> <%= "#{current_user.first_name} #{current_user.last_name}" %>
              <li class="nav-item">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
            </li>
              <% elsif current_user%>
              <%= fa_icon 'user-circle-o' %> <%= "Anonymous" %>
              
            </li>
           <li class="nav-item">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
            </li>
            <% end %>
            </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>